<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">med.persistence.hibernate.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:D:\University\3rd year\PDP\Laboratory\medical-center\Med_Center\medcenter.db</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="med.model.Person"/>
        <mapping class="med.model.Treatment"/>
        <mapping class="med.model.Appointment"/>
        <mapping class="med.model.Location"/>
        <mapping class="med.model.Payment"/>
        <mapping class="med.model.TreatmentLocation"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>
